html *
{
   font-family: Lato;
   font-size: 11px;
}

h1 {
  font-size: 28px;
  text-align: center;
}

h2 {
  font-size: 16px;
  text-transform: uppercase;
}

h3 {
  font-size: 11px;
  font-weight: bold;
}

li {
  font-size: 11px;
}
