html *
{
  font-family: 'PT Sans', sans-serif;
}

h1 {
  font-family: 'Roboto Condensed';
  text-transform: uppercase;
  font-size: 34px;
  text-align: center;
}

.page-container {
  display: flex;
}

.column-container {

}
